@import './main.css';

/* .card:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
} */
#artistcard>.cardcontent>.blur>.contentdescription {
    width: fit-content;
}
#artistcard>.cardcontent>.blur>.tags {
    margin-top: auto;
}

#artistcard>.artworkcontainer {
    margin-top: auto;
}

#artistcontentswitcher {
    display: flex;
}

#artistcontentswitcher>button {
    flex: 1;
    border: 0px;
    border-radius: 0px;
}

#artistcontentswitcher>button:first-child {
    border-top-left-radius: var(--radius);
}

#artistcontentswitcher>button:last-child {
    border-top-right-radius: var(--radius);
}

/* bottom fade is in the html */
#artistcard {
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#artistcard>*>*>.contenttitle {
    display: inline-flex;
    flex-direction: row;
    gap: var(--quarter-gap);
}

#artistcontent {
    /* ignore .column scrolling */
    overflow-y: visible;
}

.cardcontent>.blur {
    width:fit-content;
    padding: var(--quarter-gap);
}