@import './themes/audius.css';

:root {
    --gap: 1rem;
    --smaller-gap: calc(var(--gap) * 0.75);
    --half-gap: calc(var(--gap) * 0.5);
    --quarter-gap: calc(var(--gap) * 0.25);
    --micro-gap: calc(var(--gap) * 0.1);
    --radius: 8px;

    --bottom-gradient: -webkit-linear-gradient(top,
            #0000 0%,
            #0000 80%,
            var(--background-color) 100%)
}

html,
body {
    height: 100%;
    background-color: var(--background-color);
    color: var(--primary-color);
    margin: 0;
}

span {
    width: fit-content;
}

img {
    width: 100%;
    border-radius: var(--radius);
}

hr {
    color: var(--secondary-color);
}

/* floating player */
audio {
    position: fixed;
    bottom: 4px;
    width: 96%;
    left: 2%;
    border-radius: var(--radius);
    background-color: var(--secondary-color);
}

button {
    background-color: var(--tertiary-color);
    border: var(--border);
    color: var(--primary-color);
    border-radius: var(--radius);
    padding: var(--quarter-gap);
    flex: 0.1;
}

button:hover {
    background-color: var(--secondary-color);
}

button:disabled {
    color: #000;
    background-color: #444;
    border-color: #444;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

/* generic styling */
#content {
    margin: var(--quarter-gap);
}

.blur {
    border-radius: var(--radius);
    backdrop-filter: blur(var(--quarter-gap)) brightness(50%);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--quarter-gap);
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
}

.subtitle {
    filter: brightness(50%);
}

.verified {
    font-size: 0.5rem;
}

.position {
    float: right;
}

.stats {
    display: flex;
    width: fit-content;
    background-color: var(--tertiary-color);
    border-radius: var(--radius);
    padding: var(--quarter-gap);
}

.tags {
    display: inline-flex;
    width: fit-content;
    gap: var(--quarter-gap);
    flex-wrap: wrap;
}

.contentcard {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    border: 1px solid var(--secondary-color);
    border-radius: var(--radius);
    padding: var(--half-gap);
    margin-bottom: var(--half-gap);
    gap: var(--gap);
    justify-content: space-between;
}

.contenttitle {
    display: flex;
    flex-direction: column;
}

.cardmaincontent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--half-gap);
}

.contentdescription {
    padding: var(--quarter-gap);
    width: fit-content;
}

.contentinfo {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: var(--half-gap);
}

.contentstats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--smaller-gap);
}

.artworkcontainer {
    display: flex;
    flex-shrink: 2;
    max-width: 10%;
    margin-bottom: auto;
}

.artwork {
    aspect-ratio: 1 / 1;
    object-fit: contain;
}