@import './main.css';

/* overrides */

.artworkcontainer {
    max-width: 30%;
}
.contentstats {
    flex-direction: row;
    gap: var(--quarter-gap);
    margin-bottom: var(--half-gap);
}
.contentdescription {
    background-color: unset;
}