/* totally not a audius clone */
:root {
    --primary-color: #BEC5E0;
    --secondary-color: #9147CC;
    --tertiary-color: #32334D66;
    --quadrary-color: #582481;
    --link-color: #C74BD3;
    --link-hover-color: #696D88;
    --background-color: #191927;
    --secondary-background-color: #242438;

    --border: 1px solid var(--quadrary-color);
}