:root {
    --primary-color: #c780ff;
    --secondary-color: #2c00a6;
    /* --secondary-color: #150050; */
    --stats-color: #4446;
    --text-color: #BEC5E0;
    --link-color: #FB2576;
    --background-color: #000000;
}