:root {
    --primary-color: #b960ff;
    --secondary-color: #2c00a6;
    /* --secondary-color: #150050; */
    --tertiary-color: #4446;
    --link-color: #FB2576;
    --link-hover-color: #e20458;
    --background-color: #000000;

    --border: 1px solid var(--secondary-color);
}